* {
  margin: 0;
  padding: 0;

}

.container {

}

.userlabel {
  font-weight: 700;
}
.passlabel {
  font-weight: 700;
}
#input { /* How all the inputs will look like */
  background: white;
  outline: outset 1px;
  border:none;
}


::placeholder {
  color: black;
  font-weight: 300;
}
.form-check-label {
  margin-top: 20px;
  padding: 5px;
}
.btn {
  margin-top: 5px;
}

.card { /* Filled in the details and style for the card */
  background: lightblue;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  display: block;
  top: 50%;
  position: relative;
}
.card-body {

  font-weight: 800;
  font-size: 30px;
}
.form-check-inline {
  margin-left: 10px;
}
.buttons {
  display: flex;
}
